@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-deep: #13404f;
  --color-bg: #f7f9f9;
  --color-red: #d33b52;
  --color-green: #2ebe7e;
  --color-greenish: #dcebed;
  --color-deepest: #257f69;
  --color-gree: #d0ede1;
  --color-blue: #2a528f;
  --color-silver: #557580;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
